.feed {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.vidThumb {
  display: flex;
  flex-direction: column;
  flex: 2.55;
  margin-top: 3%;
  margin-right: 7%;
}

.textContent {
  display: flex;
  flex-direction: column;
  flex: 5;

}